@media print {
  /* Print styles for the entire document */

  * {
    color: black !important;
    background: transparent !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    gap: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
  }

  @page {
    width: 210mm;
    height: 297mm;
    page-orientation: portrait;
    margin: 10mm;
    scale: 67% !important;
  }

  [negrito] {
    font-weight: bolder !important;
  }

  aside,
  img,
  button,
  .loader {
    display: none !important;
  }

  h1 {
    font-size: 30px !important;
  }

  #telPrint,
  #mailPrint {
    display: block !important;
    font-size: 16px !important;
    color: #000 !important;
    margin-top: 10px !important;
  }

  #tel,
  #mail {
    display: none !important;
  }

  .card {
    width: 35% !important;
    height: auto !important;
    margin: 0 auto !important;
    border: 1px dashed #000 !important;
  }

  #experienciaProfissional {
    margin-bottom: 90mm !important;
  }

  #experienciaProfissional .card .front::after {
    content: "Empresa: " attr(alt);
    display: block;
    font-weight: bold;
    color: #000;
    margin-top: 10px;
  }
  #experienciaProfissional .card .back {
    display: block !important;
    position: static !important;
    transform: none !important;
    background: none !important;
    box-shadow: none !important;
  }
  #experienciaProfissional .card .front {
    display: block !important;
    position: static !important;
    transform: none !important;
    background: none !important;
    box-shadow: none !important;
  }

  #projetos {
    display: none !important;
  }
}
