/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 767px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  #dadosPessoais {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #dadosPessoais .photo {
    order: -1;
    margin-bottom: 20px;
  }

  #dadosPessoais .name {
    order: 0;
    margin-top: 0;
  }

  figure.photo img {
    max-width: 150px;
  }

  #dadosPessoais aside {
    flex-direction: column;
  }

  #dadosPessoais h2 {
    font-size: 18px;
  }

  .text-content {
    font-size: 16px;
  }

  .card {
    width: 100%;
    margin-bottom: 15px;
  }

  .card h4 {
    font-size: 14px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Tablets and larger smartphones ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 20px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  figure.photo img {
    max-width: 175px; /* Ajuste conforme necessário */
  }

  #dadosPessoais {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #dadosPessoais h2 {
    font-size: 20px;
  }

  .text-content {
    font-size: 18px;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: 48%;
    margin-bottom: 20px;
  }

  .card h4 {
    font-size: 15px;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1025px) {
  .container {
    padding: 30px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
  }

  figure.photo img {
    max-width: 200px; /* Ajuste conforme necessário */
  }

  #dadosPessoais {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #dadosPessoais h2 {
    font-size: 24px;
  }

  .text-content {
    font-size: 20px;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: 30%;
    margin-bottom: 20px;
  }

  .card h4 {
    font-size: 16px;
  }
}

/* Correção do elemento hr em telas maiores */
@media only screen and (min-width: 1620px) {
  hr {
    width: auto;
  }
}
