* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #c4b18e;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::selection {
  background-color: #f84;
}

html,
body {
  background-color: #f5deb3;
  width: 90vw;
  height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
  scroll-behavior: smooth;
}

html {
  position: relative;
}

body,
superbody {
  position: absolute;
}

html > body * {
  z-index: 0;
}

html > superbody * {
  z-index: 1;
}

#border {
  transform: translateY(750px);
  border: transparent;
  width: 80vw;
  height: auto;
  display: grid;
  place-items: center;
  gap: 25px;
  position: absolute;
}

section#dadosPessoais {
  display: grid;
  grid-template-areas:
    "title title title title"
    "breakLine breakLine breakLine breakLine"
    "breakLine breakLine breakLine breakLine"
    "breakLine breakLine breakLine breakLine"
    "photo photo name name"
    "photo photo genre genre"
    "photo photo birthday birthday"
    "photo photo age age"
    "photo photo phone phone"
    "photo photo email viewCert";
  gap: 0 20px;
}

#dadosPessoais > figure.photo > img {
  width: 200px;
  height: 200px;
  border: 3px #fff solid;
  border-radius: 50%;
  filter: drop-shadow(0 0 1em rgba(0, 0, 0, 0.5));
}

#viewCert {
  visibility: visible;
  grid-area: viewCert;
  width: 100px;
  aspect-ratio: 2 / 2;
  background-color: #333;
  color: #f5deb3;
  border: 4px double #a38b5f;
  border-radius: 15px;
  font-size: 15px;
  outline: 1px #222 solid;
  outline-offset: 1px;
  transition: 1s ease-in-out;
}

#viewCert:hover {
  cursor: pointer;
  border: 4px solid #c4b18e;
  outline: 1px #222 dashed;
  outline-offset: 0;
  transform: rotate(360deg);
}

#downloadCert {
  display: none;
  grid-area: downloadCert;
  width: 100px;
  aspect-ratio: 2 / 2;
  background-color: #333;
  color: #f5deb3;
  border: 4px double #a38b5f;
  border-radius: 15px;
  font-size: 15px;
  outline: 1px #222 solid;
  outline-offset: 1px;
  transition: 1s ease-in-out;
}

#downloadCert:hover {
  cursor: pointer;
  border: 4px solid #c4b18e;
  outline: 1px #222 dashed;
  outline-offset: 0;
}

h1,
h2,
h3,
h4,
p {
  color: #333;
}

h1 {
  font-size: 46px;
}

.title {
  grid-area: title;
}

.breakLine {
  height: 60px;
  width: auto;
  grid-area: breakLine;
}

.photo {
  grid-area: photo;
}

.name {
  grid-area: name;
}

.genre {
  grid-area: genre;
}

.age {
  grid-area: age;
}

.birthday {
  grid-area: birthday;
}

.phone {
  grid-area: phone;
}

a {
  color: #050;
}

a:active {
  color: #002800;
}

a:visited {
  color: #f00;
}

.email {
  grid-area: email;
}

hr {
  border: 1px #444 solid;
  width: 70vw;
}

p {
  font-size: 23px;
}

section#objetivosProfissionais {
  display: grid;
  grid-template-areas:
    "title2 title2 title2 title2"
    "breakLine2 breakLine2 breakLine2 breakLine2"
    "breakLine2 breakLine2 breakLine2 breakLine2"
    "breakLine2 breakLine2 breakLine2 breakLine2"
    "text-content text-content text-content text-content"
    "text-content text-content text-content text-content"
    "text-content text-content text-content text-content"
    "text-content text-content text-content text-content";
  gap: 0 20px;
}

.title2 {
  grid-area: title2;
  max-width: 65vw;
}

.breakLine2 {
  grid-area: breakLine2;
  max-width: 65vw;
}

.text-content {
  grid-area: text-content;
  max-width: 65vw;
}

#formacaoAcademica {
  display: grid;
  grid-template-areas:
    "title3 title3 title3 title3"
    "breakLine3 breakLine3 breakLine3 breakLine3"
    "breakLine3 breakLine3 breakLine3 breakLine3"
    "breakLine3 breakLine3 breakLine3 breakLine3"
    "cardFarroupilha cardFarroupilha cardLiceu cardLiceu"
    "cardUNISAL cardUNISAL cardUNISAL cardUNISAL";
  gap: 0 80px;
}

.title3 {
  grid-area: title3;
}

.breakLine3 {
  grid-area: breakLine3;
}

#cardLiceu {
  position: relative;
  grid-area: cardLiceu;
  width: 250px;
  height: 210px;
  border: 2px #ddd solid;
  border-radius: 20px;
}

#cardLiceu > img {
  position: absolute;
  width: 250px;
  height: auto;
}

#cardLiceu h4 {
  background-color: #ffffffc7;
  position: absolute;
  transform: translateY(90px);
}

#cardFarroupilha {
  position: relative;
  grid-area: cardFarroupilha;
  width: 250px;
  height: 210px;
  border: 2px #ddd solid;
  border-radius: 20px;
}

#cardFarroupilha > img {
  position: absolute;
  width: 250px;
  height: auto;
}

#cardFarroupilha h4 {
  background-color: #ffffffc7;
  position: absolute;
  transform: translateY(110px);
}

#cardUNISAL {
  grid-area: cardUNISAL;
  width: 250px;
  height: 176.95px;
  border: 2px #ddd solid;
  border-radius: 20px;
  background-color: #181818;
  position: relative;
}

#cardUNISAL .loader {
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border-top: 8px solid rgba(255, 255, 255, 1);
  border-left: 8px solid rgba(255, 255, 255, 1);
  border-right: 8px solid rgba(255, 255, 255, 0);
  animation: spin 0.575s infinite linear;
  left: 36%;
}

#cardUNISAL h4 {
  position: absolute;
  transform: translateY(85px);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#experienciaProfissional {
  display: grid;
  grid-template-areas:
    "title4 title4 title4 title4"
    "breakLine4 breakLine4 breakLine4 breakLine4"
    "breakLine4 breakLine4 breakLine4 breakLine4"
    "breakLine4 breakLine4 breakLine4 breakLine4"
    "cardIBGE cardIBGE cardPrefeitura cardPrefeitura";
  gap: 0 20px;
}

.title4 {
  grid-area: title4;
}

.breakLine4 {
  grid-area: breakLine4;
}

#cardIBGE {
  position: relative;
  grid-area: cardIBGE;
  width: 250px;
  height: 210px;
  border: 2px #ddd solid;
  border-radius: 20px;
}

#cardIBGE > img {
  position: absolute;
  width: 250px;
  height: auto;
}

#cardIBGE h4 {
  background-color: #cecece75;
  position: absolute;
  transform: translateY(150px);
}

#cardPrefeitura {
  position: relative;
  grid-area: cardPrefeitura;
  width: 250px;
  height: 210px;
  border: 2px #ddd solid;
  border-radius: 20px;
}

#cardPrefeitura > img {
  position: absolute;
  width: 250px;
  height: auto;
}

#cardPrefeitura h4 {
  background-color: #cececece;
  position: absolute;
  transform: translateY(150px);
}

#cursosExtracurriculares {
  display: grid;
  grid-template-areas:
    "title5 title5 title5 title5"
    "breakLine5 breakLine5 breakLine5 breakLine5"
    "breakLine5 breakLine5 breakLine5 breakLine5"
    "breakLine5 breakLine5 breakLine5 breakLine5"
    "img-icon subTitle subTitle subTitle"
    "texto1 texto1 texto1 texto1"
    "HTML5card HTML5card CSS3card CSSmodernoCard"
    "JScard JScard TScard TScard";
  gap: 0 20px;
}

.title5 {
  grid-area: title5;
}

.breakLine5 {
  grid-area: breakLine5;
}

.img-icon {
  grid-area: img-icon;
  width: 46px;
  height: auto;
}

.subTitle {
  font-size: 23px;
  grid-area: subTitle;
}

.t1 {
  grid-area: texto1;
}

#HTML5card {
  position: relative;
  grid-area: HTML5card;
  width: 250px;
  height: 210px;
  border: 2px #ddd solid;
  border-radius: 20px;
}

#HTML5card > img {
  position: absolute;
  width: 250px;
  height: auto;
}

#HTML5card h4 {
  background-color: #ffffffad;
  position: absolute;
  transform: translateY(115px);
}

#CSS3card {
  position: relative;
  grid-area: CSS3card;
  width: 250px;
  height: 210px;
  border: 2px #ddd solid;
  border-radius: 20px;
}

#CSS3card > img {
  position: absolute;
  width: 250px;
  height: auto;
}

#CSS3card h4 {
  background-color: #ffffffad;
  position: absolute;
  transform: translateY(115px);
}

#CSSmodernoCard {
  position: relative;
  grid-area: CSSmodernoCard;
  width: 250px;
  height: 210px;
  border: 2px #ddd solid;
  border-radius: 20px;
}

#CSSmodernoCard > img {
  position: absolute;
  width: 250px;
  height: auto;
}

#CSSmodernoCard h4 {
  background-color: #ffffffad;
  position: absolute;
  transform: translateY(115px);
}

#JScard {
  position: relative;
  grid-area: JScard;
  width: 250px;
  height: 210px;
  border: 2px #ddd solid;
  border-radius: 20px;
}

#JScard > img {
  position: absolute;
  width: 250px;
  height: auto;
}

#JScard h4 {
  background-color: #ffffffad;
  position: absolute;
  transform: translateY(115px);
}

#TScard {
  position: relative;
  grid-area: TScard;
  width: 250px;
  height: 210px;
  border: 2px #ddd solid;
  border-radius: 20px;
}

#TScard > img {
  position: absolute;
  width: 250px;
  height: auto;
}

#TScard h4 {
  background-color: #ffffffad;
  position: absolute;
  transform: translateY(115px);
}

aside {
  width: 64px;
  aspect-ratio: 1 / 3;
  right: -5%;
  position: absolute;
  background-color: #c4b18e;
  border: 4px groove #a38b5f;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

aside a img {
  max-width: 32px;
  border-radius: 50%;
  transition: 400ms;
}

aside #linkedin:hover {
  background-color: #007fbc;
}

aside #github:hover {
  background-color: #f0563a;
}

aside #portfolio:hover {
  background-color: #070;
}

button#toTop {
  position: absolute;
  width: 70px;
  height: 70px;
  right: -5%;
  bottom: -250%;
  border-radius: 50%;
  background-color: #f00;
  box-shadow: 0 0 -1em rgba(255, 0, 0, 0.75);
  filter: drop-shadow(0 0 1em rgba(0, 0, 0, 0.25));
  color: #fff;
  font-size: 35px;
  cursor: pointer;
}

superbody {
  visibility: hidden;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #0f0f0f;
  width: 110vw;
  height: 100vh;
}

superbody nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #111;
}

superbody nav h2 {
  color: #fff;
}

superbody nav #closeCert {
  cursor: pointer;
  background-color: #000;
  border: 1px #666 solid;
  border-radius: 50%;
  width: 50px;
  aspect-ratio: 1 / 1;
  color: #fff;
  font-size: 35px;
}

superbody main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  width: 100%;
  height: 90%;
}

superbody main #slider {
  width: 100%;
  max-width: 800px;
  height: 500px;
  margin: 20px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

superbody main #slider #slides {
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  height: 430px;
  scroll-snap-align: center;
  margin-right: 0px;
  box-sizing: border-box;
  transform-origin: center center;
  transform: scale(1);
  gap: 15px;
  overflow: hidden;
  cursor: zoom-in;
}

.slide img {
  width: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
}

.slide h3 {
  color: #fff;
  text-align: center;
}

.slide:hover img {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.slider::before,
.slider::after {
  content: "";
  z-index: 1;
  background: none;
  pointer-events: none;
}

.slider__nav {
  box-sizing: border-box;
  width: 200px;
  height: 85px;
  text-align: center;
}
.nav__link {
  display: inline-block;
  height: 55px;
  width: 55px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 10px 0 10px;
}

#sli1 {
  background-image: url("../img/Certificado-Farroupilha.png");
}

#sli2 {
  background-image: url("../img/Certificado-Liceu.png");
}

#sli3 {
  background-image: url("../img/certificado_onebitcode_html5_page-0001.jpg");
}

#sli4 {
  background-image: url("../img/certificado_onebitcode_css3_page-0001.jpg");
}

#sli5 {
  background-image: url("../img/certificado_onebitcode_css-moderno_page-0001.jpg");
}

#sli6 {
  background-image: url("../img/certificado_onebitcode_javascript.jpg");
}

#sli7 {
  background-image: url("../img/certificado_onebitcode_typescript_page-0001.jpg");
}

.showCert {
  visibility: visible;
}
